input[type=text]
{
	width: 60%;
	margin-top: 2%;
	margin-bottom: 2%;
	border: 1px solid #ccc;
}
body{
	background-color: 
}
#navbb
{
	background-color: #3EDC66;
	margin-top: -2%;

}
#navhead{
	text-align: center; 
	padding-left: 5%;
	color: black;
}
/*Sidebar*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}
#img-act{
	margin: 4px solid black;
	height:300px; 
	width:600px;

}
#image-text{
	color: black;
	margin-top: 40px;
	background-color: #3EDC66;
	width: auto;
}

#image-text2{
	color: black;
	margin-top: 40px;
	background-color: #3EDC66;
	width: auto;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@media screen and (max-width: 600px)
{
	#navhead
	{
		margin-left: 0px;
		color: red;
	}
	#logo{
		display: none;
	}
	#map{
		height: 10px;
		width: 30px;
		display: none;
		
	}
	#img-act{
	margin: 4px 4px 4px 4px solid black;
	height:15%;
	width:95%;
	}
	#image-text{
	margin-top: 60%;
	clear: right;
	}
	#image-text2{
	margin-top: 80%;
	clear: right;
	}

}
#map {
        height: 200px;  
        width: 400px;  
        margin-top: 10%;
        margin-right: 10px;
        margin-left: 10px;
        padding-top: 50px;
        float: right;
        margin-top: -50px;
       }
#foot{
	width: auto;
	height: 300px;
	background-color: black;
	margin-top: 100px;
}

#fc{
	margin-top: 10px;
	color: white;

}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

#inputgrp{
	margin-left: 2%;
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}
#acti{
	width: 45%;
	height: 45%;
	float: left;
	margin: 2%;
	border: 4px solid black;
}
#marginact{
	border-left: 7%;
	border-right: 7%;
	padding: 10%;
	margin: 4px 4px 4px 4px solid black;

}


#readmore{
	position: absolute; 
	top: 50%;  
	left: 50%;  
	color: white;
	background-color: red;
}