#navbb
{
	background-color: #3EDC66;
  margin-top: -10px;
}
#navhead{
	text-align: center; 
	padding-left: 5%;
}
/*Sidebar*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#buttonn{
  margin-left: 35%;
   border-radius: 20%;
}
#logo
{
	float: right;
	position: relative;

}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*Sidebar*/
#cont{
	background: url('s.jpg' ); 
	background-repeat: no-repeat;
  background-attachment: fixed;
	width: auto;
	height: auto;
	height: 600px;
}
#cont1{
	padding-top: 100px;
	color: white;
	font-size: 40px;
	padding-left: 20%;
	padding-right: 20%;
}

@media screen and (max-width: 600px)
{
	#navhead
	{
		margin-left: 0px;
		color: red;
	}
	#cont{
		width: auto;
    background-size: 100%;
      background: url('s.jpg' )  ; 
  background-repeat: no-repeat;
  
  background-attachment: fixed;

	}
	#cont1{
		font-size: 20px;
	}
	#logo{
		display: none;
	}
	#map{
		height: 20%px;
		width: 30%px;
		float: right;
    display: none;
	}
  #buttonn{
    margin-left: 20%;
  }
}


#map {
        height: 200px;  
        width: 400px;  
        
        margin-right: 10px;
        margin-left: 10px;
        padding-top: 50px;
        float: right;
        margin-top: -50px;
       }
#foot{
	width: auto;
	height: 300px;
	background-color: black;
	margin-top: 100px;
}
#headcont{
	text-align: center;
	font-size: 40px;
	margin-top: 10px;
	background-color: #3EDC66;
	border-radius: 2px;
}
#sec1{
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
}
#fc{
	margin-top: 10px;
	color: white;

}
.button {
  position: relative;
  background-color: #4CAF50;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
