.heading{
	text-align: center;
	margin-bottom: 80px;
}
*{
	box-sizing: border-box;
}
div{
	float: left;
	
	background-color: grey;
	margin: 10px;
	border: 2px solid black;
	height: auto;
}
.p1, .p2, .p3{
		text-align: right;
		
		margin-top: -2px;
		float: right;
		font-size: 20px;
		margin-left: 100%;
		border: 2px solid black;
	}
.p1{
	background-color: pink;
}
.p2{
	background-color: red;
}
.p3{
	background-color: yellow;
}
@media(min-width: 992px)
{
	div{
		width: 30%;
	}
}
@media(min-width: 768px) and (max-width:991px)
{
	div{
		width: 46%;
	}
	.d1{
		width:96%;
	}
}
